/** Global *******************************************/
* {
        all: unset;
        transition: 200ms ease-out;
        font-family: "Inter", "Phosphor";
}

/** Background ***************************************/
.bg {
        background-image: url("images/texture.png");
        background-size: cover;
        background-color: $bg;
        opacity: 1;
}

/** Generic window ***********************************/
.genwin {
        background-color: $bg;
        border-radius: 15px;
        border: 2px solid $bg;
}


/** System ********************************************/
.iconcpu,
.iconmem,
.icongpu,
.iconstor {
        font-size: 32px;
        font-weight: normal;
}

.iconcpu {
        color: $red;
}

.text-cpu {
        color: $red;
        font-weight: bold;
}

.iconmem {
        color: $blue;
}

.text-ram {
        color: $blue;
        font-weight: bold;
}

.icongpu {
        color: $yellow;
}

.text-gpu {
        color: $yellow;
        font-weight: bold;
}

.iconstor {
        color: $green;
}

.text-disk {
        color: $green;
        font-weight: bold;
}

.cpu_bar,
.mem_bar,
.gpu_bar,
.stor_bar,
scale trough {
        all: unset;
        background-color: $gray;
        border-radius: 16px;
        min-height: 5px;
        min-width: 100px;
}

.cpu_bar,
.mem_bar,
.gpu_bar,
.stor_bar,
scale trough highlight {
        all: unset;
        border-radius: 16px;
}

.cpu_bar scale trough highlight {
        background-color: $red;
}

.mem_bar scale trough highlight {
        background-color: $blue
}

.gpu_bar scale trough highlight {
        background-color: $yellow;
}

.stor_bar scale trough highlight {
        background-color: $green;
}

/** Fetch ********************************************/
.fetch {
        font-size: 18px;
        background-color: $bg;
        border-radius: 16;
        border: 2px solid $bg;
}

.fetch_items {
        margin: 30;
        border-radius: 10;
}

.wm {
        font-family: "Phosphor";
        color: $red;
}

.distro {
        font-family: "Phosphor";
        color: $green;
}

.shell {
        font-family: "Phosphor";
        color: $yellow;
}

.uptime {
        font-family: "Phosphor";
        color: $blue;
}

.packages {
        font-family: "Phosphor";
        color: $purple;
}

/** Fetch ********************************************/
.one {
        color: $red;
}

.two {
        color: $green;
}

.three {
        color: $yellow;
}

.four {
        color: $blue;
}

.five {
        color: $purple;
}

.six {
        color: $cyan;
}

.dots {
        font-size: 15px;
        border-radius: 16;

}

/** Spotify ********************************************/
.spotify-album {
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 130px;
        min-width: 130px;
        margin: 35px 0px 30px 35px;
        border-radius: 15px;
}

.spotify-info {
        font-size: 22px;
        font-weight: bold;
        border-radius: 15px;
        min-width: 40px;
        min-height: 40px;
        color: $blue;
}

.spotify-artist {
        color: $fg-alt;
}

.spotify-buttons button {
        font-size: 30px;
        color: $fg;
}

.spotify-buttons button:hover {
        color: $green;
}

.spotify-pp {
        color: $fg;
}

.spotify-pp:hover {
        color: $green;
}

.spotify-box {
        padding: 0px 25px 0px 85px;
}


/** Power ********************************************/
.power {
        background-color: $bg;
        border-radius: 15px;
        padding: 20px 35px 20px 35px;
        font-size: 38px;
        border: 2px solid $bg;
}

.dashboard-shutdown {
        color: $red;
}

.dashboard-reboot {
        color: $green;
}

.dashboard-switch {
        color: $yellow;
}

.dashboard-logout {
        color: $blue;
}

.dashboard-lock {
        color: $purple;
}

.dashboard-suspend {
        color: $fg;
}
/** Applications ********************************************/
.app-box {
        margin: 30px 32px 30px 32px;
}

.app-firefox {
        background-repeat: no-repeat;
        background-size: 50px;
        min-height: 50px;
        min-width: 50px;
        margin: 0px 8px 0px 8px;
}

.app-alacritty {
        background-repeat: no-repeat;
        background-size: 48px;
        min-height: 48px;
        min-width: 48px;
        margin: 0px 8px 0px 8px;
}

.app-nautilus {
        background-repeat: no-repeat;
        background-size: 48px;
        min-height: 48px;
        min-width: 48px;
        margin: 0px 8px 0px 8px;
}

.app-software {
        background-repeat: no-repeat;
        background-size: 48px;
        min-height: 48px;
        min-width: 48px;
        margin: 0px 8px 0px 8px;
}

.app-spotify {
        background-repeat: no-repeat;
        background-size: 48px;
        min-height: 48px;
        min-width: 48px;
        margin: 0px 8px 0px 8px;
}

.app-code {
        background-repeat: no-repeat;
        background-size: 48px;
        min-height: 48px;
        min-width: 48px;
        margin: 0px 8px 0px 8px;
}

/** Links ********************************************/
.links {
        padding-left: 38px;
        padding-top: 18px;
}

.reddit {
        background-repeat: no-repeat;
        background-size: 48px;
        min-height: 48px;
        min-width: 48px;
        margin: 0px 8px 0px 8px;
}

.github {
        background-repeat: no-repeat;
        background-size: 48px;
        min-height: 48px;
        min-width: 48px;
        margin: 0px 8px 0px 8px;
}

.youtube {
        background-repeat: no-repeat;
        background-size: 48px;
        min-height: 48px;
        min-width: 48px;
        margin: 0px 8px 0px 0px;
}

.study {
        background-repeat: no-repeat;
        background-size: 48px;
        min-height: 48px;
        min-width: 48px;
        margin: 0px 8px 0px 8px;
}

.gmail {
        background-repeat: no-repeat;
        background-size: 48px;
        min-height: 48px;
        min-width: 48px;
        margin: 0px 8px 0px 8px;
}

.dribble {
        background-repeat: no-repeat;
        background-size: 44px;
        min-height: 44px;
        min-width: 44px;
        margin: 0px 8px 0px 4px;
}

/** Profile ******************************************/
.face {
        background-size: 150px;
        min-height: 150px;
        min-width: 150px;
        margin: 50px 0px 0px 0px;
        border-radius: 10%;
}

.name {
        color: $green;
        font-size: 30px;
        font-weight: bold;
        padding-bottom: 10px;
        padding-top: 20px;
}

.username {
        color: $yellow;
        font-size: 22px;
        font-weight: bold;
        margin: -15px 0px 0px 0px;
}

.username-hostname {
        font-family: "Phosphor";
        font-size: 18px;
        color: $fg-alt;
}
/** Clock ********************************************/
.dashboard-time {
        color: $red;
        font-size: 40px;
        font-weight: bolder;
        padding-top: 20px;
}

.dashboard-date {
        color: $yellow;
        font-size: 20px;
        font-weight: bold;
}

/** Weather ***************************************/
.iconweather {
        font-family: "Phosphor";
        font-size: 40px;
        font-weight: normal;
}

.label-temp {
        color: $green;
        font-size: 30px;
        font-weight: bold;
}

.label-stat {
        color: $yellow;
        font-size: 20px;
        font-weight: bold;

}

.label-quote {
        color: $fg;
        font-size: 14px;
        font-weight: 700;
}

.weather-box {
        padding: 30px 25px 0px 25px;
}
/** Bluetooth ********************************************/
.bt-name {
        color: $red;
        font-weight: 900;
        font-size: 22px;
}

.bt-icon-box {
        background-color: $yellow;
        margin-top: 16px;
        padding-left: 100px;
        padding-right: 80px;
        border-radius: 20px;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 7px;
        margin-bottom: 10px;
}

.bt-icon {
        font-size: 26px;
        font-weight: bold;
        font-family: "Phosphor";
        padding-bottom: 5px;
}

.bt-battery {
        font-weight: bold;
        margin-bottom: 5px;
}

.bluetooth-box-dashboard {
        padding-left: 65px;
        padding-top: 5px;
}

/** Mail ********************************************/
.iconmail {
	color: $blue;
        font-size: 70px;
}

.mail {
	background-color: $bg;
	border-radius: 16px;
        border: 2px solid $bg;
}

.mailbox {
	background-color: $bg;
	border-radius: 10px;
	margin: 20px 0px 20px 0px;
}
.label_mails {
	color: $fg;
	font-size : 32px;
	font-weight : bold;
	margin: 0px 12px 0px 12px;
}

/** Karma ********************************************/
.iconreddit {
	color: $red;
        font-size: 70px;
}

.karma {
	background-color: $bg;
	border-radius: 16px;
        border: 2px solid $bg;
}

.redditbox {
	background-color: $bg;
	border-radius: 10px;
	margin: 20px 0px 20px 0px;
}
.label_karma {
	color: $fg;
	font-size : 32px;
	font-weight : bold;
	margin: 0px 12px 0px 0px;
}

/** Volume Slider ********************************************/
.dashboard-volume-slider-box {
        background-color: $bg;
        min-width: 20px;
}

.dashboard-volume-slider trough {
        border-radius: 20px;
        background-color: $gray;
        min-width: 10px;
        box-shadow: 0px 0px 7px #141414;
        margin: 20px 5px 0px 5px;
}

.dashboard-volume-slider highlight {
        border-radius: 20px;
        background: linear-gradient(to bottom, $red, $red-alt);
}

.dashboard-volume-slider-icon {
        color: $red;
        font-size: 28px;
        margin-top: 10px;
}

/** Brightness Slider ********************************************/
.dashboard-brightness-slider-box {
        background-color: $bg;
        min-width: 20px;
}

.dashboard-brightness-slider trough {
        border-radius: 20px;
        background-color: $gray;
        min-width: 10px;
        box-shadow: 0px 0px 7px #141414;
        margin: 20px 5px 0px 5px;
}

.dashboard-brightness-slider highlight {
        border-radius: 20px;
        background: linear-gradient(to bottom, $yellow, $yellow-alt);
}

.dashboard-brightness-slider-icon {
        color: $yellow;
        font-size: 28px;
        margin-top: 10px;
}

/** Quote ********************************************/
.quote-image {
        font-size: 55px;
        padding-top: 40px;
        color: #e5c76b;
}

.quote {
        padding: 20px 25px 0px 25px;
        font-weight: bold;
        font-size: 20px;
}

.quote-box {
        background-color: $bg;
}

/** Battery ********************************************/
.dashboard-battery trough {
        background-color: $gray;
        min-width: 92px;
}

.dashboard-battery highlight {
        background: linear-gradient(to top, $blue, $cyan);
}

/** Close Button ********************************************/

.close {
        background-color: $gray;
        color: $fg-alt;
        font-size: 90px;
}

.close:hover {
        background-color: $red;
        color: $fg;
        opacity: 1.0;
}
