[Desktop Entry]
Version=1.0
Name=Window Manager Tweaks
Name[am]=የመስኮት አስተዳዳሪ ማሰማመር
Name[ar]=تضبيطات لمدير النوافذ
Name[ast]=Axustes del Xestor de ventanes
Name[be]=Налады кіраўніка акон
Name[be@tarask]=Налады Кіраўніка вокнаў
Name[bg]=Разширено управление на прозорците
Name[bn]=উইন্ডো ব্যবস্থাপক টুইক
Name[ca]=Retocs del gestor de finestres
Name[cs]=Vyladění správce oken
Name[da]=Finjustering af vindueshåndtering
Name[de]=Feineinstellungen der Fensterverwaltung
Name[el]=Ειδικές ρυθμίσεις διαχειριστή παραθύρων
Name[en_AU]=Window Manager Tweaks
Name[en_CA]=Window Manager Tweaks
Name[en_GB]=Window Manager Tweaks
Name[eo]=Rafina Agordo de la Administradilo de Fenestroj
Name[es]=Ajustes del gestor de ventanas
Name[et]=Aknahalduri ülehäälestamine
Name[eu]=Leiho kudeatzaile ezarpenak
Name[fa_IR]=سیخونک‌های مدیر پنجره
Name[fi]=Ikkunointiohjelman viritys
Name[fr]=Peaufinage des fenêtres
Name[gl]=Axustes do xestor de xanelas
Name[he]=התאמות מנגנון מנהל חלונות
Name[hr]=Ugađanja upravitelja prozora
Name[hu]=Ablakkezelő hangolása
Name[hy_AM]=Պատուհանների Տեսք
Name[hye]=Պատուհանների Տեսք
Name[id]=Pengaturan Lanjut Manajer Jendela
Name[ie]=Retuchar li Gerente de fenestres
Name[is]=Sérstakar breytingar gluggastjóra
Name[it]=Regolazioni del gestore delle finestre
Name[ja]=ウィンドウマネージャー (詳細)
Name[ka]=ფანჯრის მმართველის პარამეტრები
Name[kk]=Терезелер басқарушысының қу баптаулары
Name[ko]=창 관리자 기능 개선
Name[lt]=Langų tvarkytuvės patobulinimai
Name[lv]=Logu pārvaldnieka piedares
Name[ms]=Ubahsuai Pengurus Tetingkap
Name[nb]=Finjuster vindusbehandleren
Name[nl]=Vensterbeheerder bijstellen
Name[nn]=Finstill vindaugshandsamaraen
Name[oc]=Afinatge de las fenèstras
Name[pa]=ਵਿੰਡੋ ਮੈਨੇਜਰ ਟਵੀਕ
Name[pl]=Usprawnienia menedżera okien
Name[pt]=Ajustes do gestor de janelas
Name[pt_BR]=Ajustes do gerenciador de janelas
Name[ro]=Manager de ferestre (ajustări)
Name[ru]=Диспетчер окон (дополнительно)
Name[sk]=Pokročilé nastavenie správcu okien
Name[sl]=Prilagoditve upravljalnika oken
Name[sq]=Rregullime të Imta për Përgjegjës Dritaresh
Name[sr]=Лицкања управника прозора
Name[sv]=Justeringar för fönsterhanterare
Name[th]=ปรับละเอียดโปรแกรมจัดการหน้าต่าง
Name[tr]=Pencere Yöneticisi İnce Ayarları
Name[ug]=كۆزنەك باشقۇرغۇ Tweaks
Name[uk]=Налаштування керівника вікон
Name[ur]=ونڈو منیجر کار کردگی
Name[ur_PK]=ونڈو منیجر کار کردگی
Name[vi]=Tinh chỉnh của trình quản lí cửa sổ
Name[zh_CN]=窗口管理器微调
Name[zh_HK]=視窗管理員調校
Name[zh_TW]=視窗管理程式調校
Comment=Fine-tune window behaviour and effects
Comment[ar]=تهذيب سلوك و تأتيرات النافذة
Comment[ast]=Axuste finu de comportamientu y efeutos de ventanes
Comment[be]=Падрабязныя налады паводзін акна і эфектаў
Comment[be@tarask]=Наладзіць паводзіны вокнаў й эфэкты
Comment[bg]=Разширени настройки за поведението на прозорците и ефектите
Comment[bn]=ফাইন-টিউন উইন্ডো আচরণ ও প্রভাব
Comment[ca]=Afineu el comportament i els efectes de les finestres
Comment[cs]=Doladění chování okna a efektů
Comment[da]=Finjuster vinduesopførsel og -effekter
Comment[de]=Feineinstellungen des Fensterverhaltens und der Fenstereffekte
Comment[el]=Ρύθμιση συμπεριφοράς παραθύρων και οπτικών εφέ
Comment[en_AU]=Fine-tune window behaviour and effects
Comment[en_CA]=Fine-tune window behaviour and effects
Comment[en_GB]=Fine-tune window behaviour and effects
Comment[es]=Ajuste con precisión el comportamiento y los efectos de las ventanas
Comment[et]=Peenhäälesta akende käitumist ja efekte
Comment[eu]=Leiho portaera eta efektuak doitu
Comment[fa_IR]=تنظیم دقیق رفتار و جلوه‌های پنجره
Comment[fi]=Hienosäädä ikkunoiden käytöstä ja tehosteita
Comment[fr]=Ajuster le comportement et les effets des fenêtres
Comment[gl]=Afinar o comportamento e os efectos das xanelas
Comment[he]=לטש התנהגות ואפקט חלון
Comment[hr]=Detaljno postavljanje ponašanja prozora i efekata
Comment[hu]=Ablakviselkedés és -effektusok finomhangolása
Comment[hy_AM]=Պատուհանների կարգաւորումներ
Comment[hye]=Պատուհանների կարգաւորումներ
Comment[id]=Atur perilaku jendela dan efek
Comment[ie]=Precis configuration de fenestres e efectes
Comment[is]=Fínstilla gluggahegðun og brellur
Comment[it]=Regolazione del comportamento della finestra e delle scorciatoie
Comment[ja]=ウィンドウの振る舞いと効果を微調整します
Comment[ka]=ფანჯრის ქცევის და ეფექტების გასწორება
Comment[kk]=Терезе әрекеттерін мен жарлықтарды туралау
Comment[ko]=창 동작 및 효과 최적화
Comment[lt]=Konfigūruoti langų elgseną ir efektus
Comment[lv]=Noskaņot logu uzvedību un efektus
Comment[ms]=Sempurnakan tingkah laku dan kesan tetingkap
Comment[nb]=Finjuster vindusoppførsel og effekter
Comment[nl]=Fijnregeling van venstergedrag en -effecten
Comment[nn]=Finstill korleis vindaugo og effektar verkar
Comment[oc]=Ajustar lo comportament de las fenèstras e lors efièches
Comment[pl]=Konfiguruje ustawienia menedżera okien oraz efekty wizualne
Comment[pt]=Configurar comportamento e efeitos das janelas
Comment[pt_BR]=Ajustes finos do comportamento e efeitos das janelas
Comment[ro]=Optimizați efectele și comportamentul ferestrelor
Comment[ru]=Дополнительная настройка поведения окна и эффектов
Comment[si]=Fine-tune window behaviour and effects
Comment[sk]=Doladenie správania okna a efektov
Comment[sl]=Natančno nastavite obnašanje oken in učinkov
Comment[sq]=Rregulloni më imët efekte dhe sjellje dritaresh
Comment[sr]=Фино подесите понашање прозора и дејства
Comment[sv]=Finjustera fönsterbeteende och effekter
Comment[th]=ปรับแต่งพฤติกรรมและเอฟเฟ็กต์หน้าต่างอย่างละเอียด
Comment[tr]=Pencere davranışı ve olaylarını ayarla
Comment[ug]=كۆزنەك ھەرىكىتى ۋە ئۈنۈمىنى ئىنچىكە تەڭشەش
Comment[uk]=Тонке налаштування заголовку вікна і ефектів
Comment[ur]=ونڈو کا سلوک اور ایفیکٹ مرتب کریں
Comment[ur_PK]=ونڈو کا سلوک اور ایفیکٹ مرتب کریں
Comment[zh_CN]=微调窗口行为和效果
Comment[zh_HK]=微調視窗視窗行為與特效
Comment[zh_TW]=微調視窗視窗行為與特效
Keywords=windows;behavior;settings;preferences;cycling;cycle;switching;focus;raises;accessibility;key;dragging;move;moving;hide;frame;title bar;maximized;tile;screen;edge;hot corner;snapping;mouse wheel;roll up;workspaces;placement;compositor;compositing;enable;disable;shadows;decorations;opacity;resize;inactive;preview;compiz;transitions;
Keywords[ar]=نوافذ;سلوك;إعدادات;تفضيلات;تدوير;دورة;تبديل;تركيز;رفع;إمكانية الدخول;مفتاح;سحب;حركة;تحريك;إخفاء;إطار;شريط العنوان;مكبر;عنوان;شاشة;حافَة;زوايا ساخنة;أخذ لقطة;عجلة الفأرة;تدحرج لفوق;مساحات عمل;تموضع;مُركّب;تركيب;تفعيل;إلغاء تفعيل;ظلال;.زينة;العَتَمَة;غير الحجم;غير فعال;معاينة;compiz;مترجمون;
Keywords[be]=вокны;паводзіны;налады;цыклічнае пераключэнне;пераключэнне;фокус;уздыманне;адмысловыя магчымасці;ключ;перацягванне;перамясціць;перамяшчэнне;хаванне;рамкі;загаловак;разгарнуць;плітка;экран;вуглы;мацаванне акон;кола мышы;разгарнуць з загалоўка;працоўныя прасторы;размяшчэнні;адмалёўшчык;адмалёўка;уключыць;выключыць;цені;аздабленне;празрыстасць;змяніць памер;неактыўна;папярэдні прагляд;compiz;перадачы;
Keywords[be@tarask]=вокны;паводзіны;налады;перавагі;вандраваньне на ровары;паўтор;пераключэньне;фокус;павышэньне;даступнасьць;клявіша;перацягваньне;перасоўваньне;перамяшчэньне;схаваць;кадр;загаловак;разгорнутае;кафля;экран;мяжа;гарачы кут;кола мышу;згортваньне;прасторы;разьмяшчэньне;кампазітар;кампазіцыі;уключэньне;адключэньне;цені;упрыгожваньні;непразрыстасьць;зьмяненьне памеру;нядзейны;перадпрагляд;compiz;пераходы;
Keywords[bg]=прозорци;поведение;настройки;предпочитания;превъртане;въртене;смяна;фокус;повдигания;визуална помощ;ключ;влачене;местене;преместване;скриване;рамка;заглавна лента;максимизирано;плочка;екран;край;горещ ъгъл;прихващане;колело на мишка;превъртане;работни места;разположение;композитор;композиране;включване;изключване;сенки;декорации;непрозрачност;преоразмеряване;неактивен;преглед;compiz;преход;
Keywords[ca]=finestres;comportament;ajusts;preferències;recórrer;canviar;fòcus;elevar;accessibilitat;tecla;arrossegar;moure;ocultar;marc;barrà de títol;maximitzat;títol;pantalla;cantonada;cantonada calenta;encaixar;roda del ratolí;enrotllar;espais de treball;ubicar;compositor;composició;habilitar;inhabilitar;ombres;decoracions;opacitat;redimensionar;inactiu;vista prèvia;compiz;transicions;
Keywords[cs]=okna;chování;nastavení;předvolby;procházení;průchod;přepínání;zaměření;zvednutí;usnadnění;klíč;klávesa;přesun;přesunutí;přesunout;skrýt;rámeček;titulkový pruh;maximalizovaný;náhled;obrazovka;okraj;aktivní roh;přichytávání;kolečko myši;zarolovat;pracovní plochy;umístění;kompozitor;kompozice;povolit;zakázat;stíny;dekorace;neprůhlednost;změna velikosti;náhled;compiz;přechody;
Keywords[da]=vinduer;opførsel;indstillinger;præferencer;gennemløbning;gennemløb;skiftning;fokus;løfter;tilgængelighed;tast;trækning;flyt;flytning;skjul;ramme;titellinje;maksimeret;flise;skærm;kant;hothjørne;fastgørelse;musehjul;rul op;arbejdsområder;placering;kompositør;komposition;aktivér;deaktivér;skygger;dekorationer;opacitet;tilpas størrelse;inaktiv;forhåndsvis;compiz;overgange;
Keywords[de]=Fenster;Verhalten;Einstellungen;Präferenzen;Radfahren;Zyklus;Umschalten;Fokussieren;Anheben;Zugänglichkeit;Taste;Ziehen;Bewegen;Verschieben;Ausblenden;Rahmen;Titelleiste;Maximiert;Kachel;Bildschirm;Rand;heiße Ecke;Einrasten;Mausrad;Aufrollen;Arbeitsflächen;Platzierung;Komposit;Komposit;Aktivieren;Deaktivieren;Schatten;Dekorationen;Deckkraft;Größe ändern;inaktiv;Vorschau;compiz;Übergänge;
Keywords[en_CA]=windows;behaviour;settings;preferences;cycling;cycle;switching;focus;raises;accessibility;key;dragging;move;moving;hide;frame;title bar;maximized;tile;screen;edge;hot corner;snapping;mouse wheel;roll up;workspaces;placement;compositor;compositing;enable;disable;shadows;decorations;opacity;resize;inactive;preview;compiz;transitions;
Keywords[en_GB]=windows;behavior;settings;preferences;cycling;cycle;switching;focus;raises;accessibility;key;dragging;move;moving;hide;frame;title bar;maximized;tile;screen;edge;hot corner;snapping;mouse wheel;roll up;workspaces;placement;compositor;compositing;enable;disable;shadows;decorations;opacity;resize;inactive;preview;compiz;transitions;
Keywords[es]=ventanas;comportamiento;ajustes;preferencias;selección;recorrer;cambio;enfoque;frente;accesibilidad;tecla;arrastrar;mover;movimiento;ocultar;marco;barra de título;maximizar;mosaico;pantalla;borde;esquina activa;anclaje;rueda del ratón;enrollar;áreas de trabajo;posicionamiento;compositor;composición;activar;desactivar;sombras;decoraciones;opacidad;redimensionar;inactiva;vista previa;compiz;transiciones;
Keywords[et]=windows;behavior;settings;preferences;cycling;cycle;switching;focus;raises;accessibility;key;dragging;move;moving;hide;frame;title bar;maximized;tile;screen;edge;hot corner;snapping;mouse wheel;roll up;workspaces;placement;compositor;compositing;enable;disable;shadows;decorations;opacity;resize;inactive;preview;compiz;transitions;aknad;aken;käitumine;eelistused;lappama;lappamine;fookus;ligipääsetavus;tõstmine;liigutamine;ekraan;äär;napsamine;hiire rullik;ekraan;paan;tööala;tööalad;varjud;kujundused;läbipaistvus;läbipaistvatud;eelvaade;üleminek;
Keywords[eu]=leihoen;portaera;ezarpenak;hobespenak;ziklatzen;ziklo;aldatzen;fokua;igo;irisgarritasuna;teklak;arrastatu;mugitu;mugitzen;ezkutatu;markoa;izenburu-barra;maximizatuta;lauza;pantaila;ertza;izkina beroa;snapping;sagu gurpila;bildu;lan eremuak;kokapena;konpositore;konposatzen;gaitu;ezgaitu;itzalak;apaingarriak;opakutasun;tamaina aldatu;ez aktibo;aurrebista;compiz;iragateak;
Keywords[fa_IR]=windows;behavior;settings;preferences;cycling;cycle;switching;focus;raises;accessibility;key;dragging;move;moving;hide;frame;title bar;maximized;tile;screen;edge;hot corner;snapping;mouse wheel;roll up;workspaces;placement;compositor;compositing;enable;disable;shadows;decorations;opacity;resize;inactive;preview;compiz;transitions;پنجره‌ها;رفتا;تنظیمات;ترجیحات;چرخش;چرخه;تعویض;تمرکز;بالا آمدن;دسترسی‌پذیری;کلید;کشیدن;جابه‌جایی;جابه‌جا کردن;پنهان;قاب;نوار عنوان;بیشینه شده;کاشی;صفحه‌نمایش;لبه;گوشهٔ داغ;چسباندن;لغزندهٔ موشی;بالا آوردن;فضاهای کاری;قرارگیری;ترکیبگر;ترکیبگری;فعال‌سازی;غیرفعال‌سازی;سایه‌ها;تزئینات;کدری;تغییر اندازی;غیرفعال;پیش‌نمایش;کامپیز;انتقال‌ها;
Keywords[fr]=fenêtres;comportement;paramètres;préférences;navigation;naviguer;basculement;focus;premier plan;accessibilité;clé;glissement;déplacer;déplacement;masquer;bordure;barre de titre;maximisé;tuile;écran;bord;coin actif;aimantation;molette de souris;enrouler;espaces de travail;placement;compositeur;composition;activer;désactiver;ombres;décorations;opacité;redimensionner;inactif;prévisualisation;compiz;transitions;
Keywords[gl]=xanelas;comportamento;configuración;preferencias;cíclico;ciclo;conmutación;enfoque;aumentar;accesibilidade;tecla;arrastrar;mover;moverse;agochar;cadro;barra de título;maximizado;tesela;pantalla;bordo;esquina activa;recorte;roda do rato;arrolar;espazos de traballo;colocación;compositor;compoñer;activar;desactivar;sombras;decoracións; opacidade;redimensionar;inactivo;vista previa;compiz;transicións;
Keywords[he]=windows;behavior;settings;preferences;cycling;cycle;switching;focus;raises;accessibility;key;dragging;move;moving;hide;frame;title bar;maximized;tile;screen;edge;hot corner;snapping;mouse wheel;roll up;workspaces;placement;compositor;compositing;enable;disable;shadows;decorations;opacity;resize;inactive;preview;compiz;transitions;
Keywords[id]=jendela;perilaku;pengaturan;preferensi;peredaran;siklus;pindah;fokus;majukan;aksesibilitas;kunci;seret;pindah;memindah;sembunyikan;bingkai;bilah judul;maksimalkan;ubin;layar;sisi;sudut panas;lekatkan;roda tetikus;gulung;area kerja;peletakan;kompositor;komposisi;aktifkan;nonaktifkan;bayangan;dekorasi;opasitas;ubah ukuran;tak aktif;pratinjau;compiz;transisi;
Keywords[it]=finestre;comportamento;impostazioni;preferenze;rotazione;ciclo;scambio;fuoco;sollevamenti;accessibilità;tasto;trascinamento;sposta;spostamento;nascondi;cornice;barra del titolo;massimizzata;riquadro;schermo;bordo;angolo attivo;aggancio;rotella del mouse;arrotolamento;spazi di lavoro;posizionamento;compositore;composizione;abilita;disabilita;ombre;decorazioni;opacità;ridimensionamento;inattiva;anteprima;compiz;transizioni;
Keywords[ja]=ウィンドウ;動作;設定;環境設定;サイクリング;サイクル;切り替え;フォーカス;レイズ;アクセシビリティ;キー;ドラッグ;移動;移動;非表示;フレーム;タイトルバー;最大化;タイル;画面;エッジ;ホットコーナー;スナップ;マウスホイール ;ロールアップ;ワークスペース;配置;コンポジター;合成;有効化;無効化;影;装飾;不透明度;サイズ変更;非アクティブ;プレビュー;圧縮;トランジション;
Keywords[ka]=windows;behavior;settings;preferences;cycling;cycle;switching;focus;raises;accessibility;key;dragging;move;moving;hide;frame;title bar;maximized;tile;screen;edge;hot corner;snapping;mouse wheel;roll up;workspaces;placement;compositor;compositing;enable;disable;shadows;decorations;opacity;resize;inactive;preview;compiz;transitions;
Keywords[kk]=терезелер;мінез-құлық;баптаулар;қалаулар;циклды ауысу;цикл;ауысу;фокус;көтеру;қол жетімділік;перне;сүйреу;жылжыту;жасыру;фрейм;атау жолағы;максималды;плитка;экран;жиек;ыстық бұрыш;жабысу;тышқанды айналдыру;жұмыс орны;орналастыру;композитор;композитинг;іске қосу;сөндіру;көлеңкелер;безендіру;мөлдірлілік;масштабтау;белсенді емес;алдын ала қарау;ауысулар;
Keywords[ko]=windows;창;behavior;동작;settings;설정;preferences;기본 설정;기본설정;cycling;순환;cycle;switching;전환;focus;포커스;raises;띄우기;accessibility;접근성;key;키;dragging;끌기;move;moving;이동;hide;굼기기;frame;틀;title bar;제목표시줄;maximized;최대화;tile;바둑판정렬;바둑판 정렬;격자정렬;격자 정렬;screen;화면;스크린;edge;모서리;hot corner;핫코너;핫 코너;snapping;잡기;mouse wheel;마우스 휠;마우스휠;roll up;말아올리기;workspaces;워크스페이스;작업공간;placement;배치;compositor;컴포지터;콤포지터;compositing;합성;enable;활성;disable;비활성;shadows;그림자;decorations;장식;opacity;불투명도;resize;크기 조정;크기 조절;크기조정;크기조절;inactive;비활성;preview;미리보기;compiz;컴피즈;transitions;트랜지션;전이;
Keywords[lt]=langai;langų;elgsena;nustatymai;nuostatos;perjunginėjimas;perjunginejimas;perjungimas;fokusavimas;iškelti;iskelti;iškėlimas;iskelimas;prieinamumas;pasiekiamumas;klavišas;klavisas;tempimas;vilkimas;perkelti;perkėlimas;perkelimas;tempti;vilkti;slėpti;slepti;rėmelis;remelis;pavadinimo juosta;antraštės juosta;antrastes juosta;išskleistas;isskleistas;iškloti;iskloti;ekranas;ekrano;kraštas;krastas;kraštai;krastai;karštas kampas;karstas kampas;karštasis kampas;karstasis kampas;pritraukimas;pelės ratukas;peles ratukas;ratas;užraityti;uzraityti;darbo sritys;išdėstymas;isdestymas;kompozitorius;komponavimas;kompozicionavimas;įjungti;ijungti;išjungti;isjungti;komponavimą;komponavima;šešėliai;seseliai;dekorecijos;nepermatomumas;dengiamumas;keisti dydį;keisti dydi;neaktyvus;pasyvus;peržiūra;perziura;compiz;perėjimai;perejimai;
Keywords[ms]=tetingkap;kelakuan;tetapan;keutamaan;pengitaran;kitar;pertukaran;fokus;naik;kebolehcapaian;kunci;penyeretan;alih;mengalih;sembunyi;bingkai;palang tajuk;dimaksimumkan;jubin;skrin;pinggir;bucu panas;pelekapan;roda tetikus;gulung atas;ruang kerja;penempatan;penggubah;penggubahan;dibenarkan;dilumpuhkan;bayang;hiasan;kelegapan;saiz semula;tidak aktif;pratonton;compiz;peralihan;
Keywords[nb]=vindu;oppførsel;innstillinger;oppsett;bla;veksle;bytte;fokus;aktivere;tilgjengelighet;tast;dra;flytt;skjul;tittelfelt;maksimert;flislegg;skjerm;kant;dynamisk hjørne;festing;musehjul;rull opp;arbeidsområder;plassering;kompositor;kompositt;aktiver;deaktiver;skygger;dekorasjoner;dekkevne;endre størrelse;inaktiv;forhåndsvisning;compiz;overganger;
Keywords[nl]=vensters;gedrag;instellingen;voorkeuren;roteren;afwisselen;scherpstelling;verheft;toegankelijkheid;toets;verplaatsen;verbergen;omlijsting;titelbalk;gemaximaliseerd;tegelen;scherm;rand;muiswiel;oprollen;werkbladen;plaatsing;beeldsamensteller;beeldsamenstelling;inschakelen;uitschakelen;schaduwen;decoraties;ondoorzichtigheid;herschalen;inactief;voorbeeldweergave;compiz;overgangen;
Keywords[oc]=windows;behavior;settings;preferences;cycling;cycle;switching;focus;raises;accessibility;key;dragging;move;moving;hide;frame;title bar;maximized;tile;screen;edge;hot corner;snapping;mouse wheel;roll up;workspaces;placement;compositor;compositing;enable;disable;shadows;decorations;opacity;resize;inactive;preview;compiz;transitions;apercebut;transicions;opacitat;talha;ombra;plaçament;espaci;trabalh;ecran;conh;cunh;mirga;barra;titol;comportament;preferéncias;bascular;clau;accessibilitat;paramètres;fenèstra;finèstra;
Keywords[pl]=okna;zachowanie;ustawienia;preferencje;przechodzenie;przełączanie;skupienie;podnoszenie;ułatwienia dostępu;klawisz;przeciąganie;ruch;poruszanie;ukrywanie;obramowanie;pasek tytułu;zmaksymalizowane;kafelek;ekran;krawędź;gorący narożnik;przyciąganie;kółko myszy;zwijanie;obszary robocze;położenie;kompozytor;komponowanie;włączanie;wyłączanie;cienie;dekoracje;przezroczystość;zmiana rozmiaru;nieaktywne;podgląd;compiz;przejścia;
Keywords[pt]=janelas;comportamento;definições;preferências;percorrendo;percorrer;troca;foco;aumento;acessibilidade;tecla;arrastando;mover;movendo;ocultar;moldura;barra de título;maximizada;título;ecrã;limite;canto ativo;snapping;roda do rato;enrolar;áreas de trabalho;posicionamento;compositor;composição;ativar;desativar;sombras;decorações;opacidade;redimensionar;inativa;pré-visualização;compiz;transições;
Keywords[pt_BR]=janelas;comportamento;configurações;preferências;ciclístico;ciclo;comutação;foco;aumentos;acessibilidade;tecla;arrastar;mover;movendo;esconder;moldura;barra de título;maximizado;ladrilho;tela;hot corner;snapping;mouse;enrolar;espaços de trabalho;colocação;compositor;composição;ativar;desativar;sombras;decorações;opacidade;redimensionar;inativo;pré-visualização;compiz;transições;
Keywords[ru]=окна;поведение;настройки;цикл;цикличное переключение;фокус;поднимается;доступность;клавиша;перетаскивание;переместить;перемещение;спрятать;кадр;заголовок;развернуть;плитка;экран;край;горячий угол;прилипание;колёсико мыши;рабочие места;размещение;композитор;разрешить;запретить;тени;декорации;прозрачность;изменить размер;неактивный;предпросмотр;compiz;переходы;
Keywords[sl]=okna;obnašanja;nastavitve;lastnosti;kroženje;kroži;preklop;fokus;dvigni;dostopnost;tipka;vlecenje;premakni;premik;skrij;okvir;naslovna vrstica;povečaj;razdeli;zaslon;rob;aktivni kot;miškino kolesce;delovni prostor;postavitev;kompozitor;kompozicija;vklop;izklop;sence;okraski;prosojnost;velikost;nekativno;predogled;compiz;prehod;
Keywords[sq]=dritare;sjellje;rregullime;parapëlqime;ciklim;cikël;shndërrim;fokus;ngritje;përdorshmëri nga persona me aftësi të kufizuara;tast;tërheqje;lëvize;lëvizje;fshihe;kuadër;shtyllë titujsh;e maksimizuar;kuadrat;skenë;skaj;cep i ndjeshëm;snapping;rrotëz miu;roll sipër;hapësira pune;vendosje;hartues;hartim;aktivizoje;çaktivizoje;hije;zbukurime;patejdukshmëri;ripërmasoje;jo aktiv;paraparje;compiz;tranzicione;
Keywords[sr]=прозори;понашање;поставке;подешавања;кружење;круг;промена;жижа;издизање;приступачност;дугме;превлачење;премештање;сакриј;оквир;насловна трака;увећани;наслов;плоча;ивица;врући кутак;шкљоцање;точкић миша;смотавање;радни простори;смештај;слагање приказа;омогући;онемогући;сене;украшавање;прозирност;провидност;промени величину;преглед;компиз;прелаз;
Keywords[sv]=fönster;beteende;inställningar;alternativ;bläddra;bläddra genom;växlande;fokus;höjer;tillgänglighet;tangent;dra;flytta;flytta på;dölj;ram;titelrad;maximerad;bricka;skärm;kant;het hörn;knäppning;mus hjul;rulla upp;arbetsytor;placering;sättare;sammansättning;aktivera;inaktivera;skuggor;dekorationer;opacitet;byt storlek;inaktiv;förhandsvisning;compiz;övergångar;
Keywords[th]=หน้าต่าง;พฤติกรรม;ตั้งค่า;ปรับแต่ง;วนหน้าต่าง;สลับ;โฟกัส;ยกหน้าต่าง;สิ่งอำนวยความสะดวก;ปุ่ม;ลาก;ย้าย;ซ่อน;เส้นขอบ;หัวหน้าต่าง;ขยายแผ่;เรียงต่อชน;หน้าจอ;ขอบ;มุมยอดนิยม;การดูดติด;ลูกกลิ้งเมาส์;ม้วนขึ้น;พื้นที่ทำงาน;การวางตำแหน่ง;compositor;composite;เปิดใช้;ปิดใช้;เงา;กรอบหน้าต่าง;ความทึบ;ปรับขนาด;ไม่แอคทีฟ;ภาพตัวอย่าง;compiz;การเปลี่ยน;
Keywords[tr]=pencereler;davranış;ayarlar;tercihler;yeğlemeler;çevirme;çevrim;döndürme;geçiş;odak;artışlar;erişebilirlik;erişilebilirlik;tuş;sürükleme;taşı;taşıma;gizle;çerçeve;başlık çubuğu;tam ekran;azami;maksimize;döşeme;çini;karo;ekran;uç;kenar;köşe;sıcak köşe;kapma;çarpma;fare çarkı;fare tekeri;fare tekerleği;yukarı sürükleme;çalışma alanları;yerleşim;dizici;dizgici;dizim;kompozitör;etkinleştir;devre dışı;gölgeler;süslemeler;dekorasyonlar;opaklık;donukluk;bulanıklık;matlık;saydamsızlık;yeniden boyutlandır;etkin olmayan;inaktif;aktif olmayan;önizle;compiz;geçişler;
Keywords[uk]=вікна;оформлення;налаштування;конфігурування;перехід;по-колу;перемикання;фокус;піднімання;доступність;кнопка;перетягування;перемістити;переміщення;приховати;рамка;заголовок;розгорнути;заголовок;екран;межа;гарячі кути;захват;колесо миші;згорнути догори;робочий простір;розміщення;розміщувач;композиція;івімкнено;вимкнено;тінь;оформлення;непрозорість;зміна розміру;не активний;перегляд;публікація;переклади;
Keywords[zh_CN]=windows;behavior;settings;preferences;cycling;cycle;switching;focus;raises;accessibility;key;dragging;move;moving;hide;frame;title bar;maximized;tile;screen;edge;hot corner;snapping;mouse wheel;roll up;workspaces;placement;compositor;compositing;enable;disable;shadows;decorations;opacity;resize;inactive;preview;compiz;transitions;窗口;行为;设置;首选项;循环;循环;切换;焦点;提高;辅助功能;按键;拖动;移动;移动;隐藏;框架;标题栏;最大化;平铺;屏幕;边缘;热角;捕捉;鼠标滚轮;卷起;工作区;放置;合成器;合成;启用;禁用;阴影;装饰;不透明度;调整大小;不活动;预览;过渡;
Exec=xfwm4-tweaks-settings
Icon=org.xfce.xfwm4-tweaks
Terminal=false
Type=Application
Categories=XFCE;GTK;Settings;DesktopSettings;X-XFCE-SettingsDialog;X-XFCE-PersonalSettings;
StartupNotify=true
OnlyShowIn=XFCE;
X-XfcePluggable=true
X-XfceHelpComponent=xfwm4
X-XfceHelpPage=wmtweaks
