[Desktop Entry]
Version=1.0
Name=Window Manager
Name[am]=ማስኮት አስተዳዳሪ
Name[ar]=مدير النوافذ
Name[ast]=Xestor de ventanes
Name[be]=Кіраўнік акон
Name[be@tarask]=Кіраўнік вокнаў
Name[bg]=Управление на прозорците
Name[bn]=উইন্ডো ব্যবস্থাপক
Name[ca]=Gestor de finestres
Name[cs]=Správce oken
Name[da]=Vindueshåndtering
Name[de]=Fensterverwaltung
Name[el]=Διαχειριστής παραθύρων
Name[en_AU]=Window Manager
Name[en_CA]=Window Manager
Name[en_GB]=Window Manager
Name[eo]=Administradilo de Fenestroj
Name[es]=Gestor de ventanas
Name[et]=Aknahaldur
Name[eu]=Leiho kudeatzailea
Name[fa_IR]=مدیر پنجره
Name[fi]=Ikkunointiohjelma
Name[fr]=Gestionnaire de fenêtres
Name[gl]=Xestor de xanelas
Name[he]=מנהל חלונות
Name[hr]=Upravitelj prozora
Name[hu]=Ablakkezelő
Name[hy_AM]=Պատուհանի կառավարիչ
Name[hye]=Պատուհանի կառավարիչ
Name[id]=Manajer Jendela
Name[ie]=Gerente de fenestres
Name[is]=Gluggastjóri
Name[it]=Gestore delle finestre
Name[ja]=ウィンドウマネージャー
Name[ka]=ფანჯრის მმართველი
Name[kk]=Терезелер басқарушысы
Name[ko]=창 관리자
Name[lt]=Langų tvarkytuvė
Name[lv]=Logu pārvaldnieks
Name[ms]=Pengurus Tetingkap
Name[nb]=Vindusbehandler
Name[nl]=Vensterbeheerder
Name[nn]=Vindaugshandsamar
Name[oc]=Gestionari de fenèstras
Name[pa]=ਵਿੰਡੋ ਪ੍ਰਬੰਧਕ
Name[pl]=Menedżer okien
Name[pt]=Gestor de janelas
Name[pt_BR]=Gerenciador de janelas
Name[ro]=Manager de ferestre
Name[ru]=Диспетчер окон
Name[si]=කවුළු කළමනාකරු
Name[sk]=Správca okien
Name[sl]=Upravljalnik oken
Name[sq]=Përgjegjës Dritaresh
Name[sr]=Управник прозора
Name[sv]=Fönsterhanterare
Name[te]=విండో నిర్వాహకం
Name[th]=โปรแกรมจัดการหน้าต่าง
Name[tr]=Pencere Yöneticisi
Name[ug]=كۆزنەك باشقۇرغۇ
Name[uk]=Керівник вікон
Name[ur]=ونڈو منیجر
Name[ur_PK]=ونڈو منیجر
Name[vi]=Trình quản lí cửa sổ
Name[zh_CN]=窗口管理器
Name[zh_HK]=視窗管理員
Name[zh_TW]=視窗管理程式
Comment=Configure window behavior and shortcuts
Comment[ar]=إعداد سلوك و إختصارات النافذة
Comment[ast]=Configura'l comportamientu de ventanes y atayos
Comment[be]=Наладзіць паводзіны акна і значкоў
Comment[be@tarask]=Наладзіць паводзіны вакна й скаротаў
Comment[bg]=Настройка на поведението на прозорците и клавишните съчетания
Comment[bn]=উইন্ডোর আচরণ ও শর্টকাট কনফিগার
Comment[ca]=Configureu el comportament de les finestres i de les dreceres
Comment[cs]=Konfigurace chování okna a klávesových zkratek
Comment[da]=Konfigurer vinduesopførsel og genveje
Comment[de]=Das Fensterverhalten und die Tastenkombinationen konfigurieren
Comment[el]=Ρύθμιση συμπεριφοράς παραθύρων και συντομεύσεων
Comment[en_AU]=Configure window behaviour and shortcuts
Comment[en_CA]=Configure window behavior and shortcuts
Comment[en_GB]=Configure window behaviour and shortcuts
Comment[es]=Configure el comportamiento de las ventanas y los atajos
Comment[et]=Seadista akende käitumist ja kiirklahve
Comment[eu]=Leiho portaera eta lastre-teklak konfiguratu
Comment[fa_IR]=پیکربندی رفتار پنجره و میانبرها
Comment[fi]=Muokkaa ikkunoiden käytöstä ja pikanäppäimiä
Comment[fr]=Configurer le comportement et les raccourcis des fenêtres
Comment[gl]=Configurar o comportamento e os atallos das xanelas
Comment[he]=הגדר התנהגות, נגיעות וקיצורי דרך חלון
Comment[hr]=Konfiguriraj ponašanje prozora i prečace
Comment[hu]=Ablakviselkedés és gyorsbillentyűk beállítása
Comment[hy_AM]=Կազմաձեւել պատուհանի վարքագիծն ու դիւրանցումները
Comment[hye]=Կազմաձեւել պատուհանի վարքագիծն ու դիւրանցումները
Comment[id]=Atur perilaku jendela dan jalan pintas
Comment[ie]=Configurar li conduida de fenestres e rapid-tastes
Comment[is]=Stilla hegðun glugga og flýtilykla
Comment[it]=Configurazione del comportamento della finestra e delle scorciatoie
Comment[ja]=ウィンドウの振る舞いとショートカットキーを設定します
Comment[ka]=ფანჯრის ქცევის და მალსახმობების კონფიგურაცია
Comment[kk]=Терезе әрекеттерін мен жарлықтарды баптау
Comment[ko]=창 동작 및 바로 가기를 설정합니다
Comment[lt]=Konfigūruoti langų elgseną ir sparčiuosius klavišus
Comment[lv]=Konfigurēt loga uzvedību un īsceļus
Comment[ms]=Selaraskan kelakuan dan pintasan tetingkap
Comment[nb]=Sett opp vindusoppførsel og hurtigtaster
Comment[nl]=Venstergedrag en sneltoetsen instellen
Comment[nn]=Set opp åtferda og utsjånaden for vindaugo
Comment[oc]=Configurar lo comportament e los acorchis de las fenèstras
Comment[pl]=Konfiguruje ustawienia okien i skróty klawiszowe
Comment[pt]=Configurar comportamento e atalhos das janelas
Comment[pt_BR]=Configure o comportamento e atalhos das janelas
Comment[ro]=Schimbați comportamentul ferestrelor și combinațiile de taste
Comment[ru]=Настройка поведения окна и комбинаций клавиш
Comment[si]=කවුළු හැසිරීම් හා කෙටිමං වින්‍යාස කරන්න 
Comment[sk]=Konfigurácia správania okna a klávesových skratiek
Comment[sl]=Nastavite bljižnic in obnašanja oken
Comment[sq]=Formësoni sjellje dhe shkurtore dritareje
Comment[sr]=Подесите понашање прозора и пречице
Comment[sv]=Konfigurera fönsterbeteende och genvägar
Comment[th]=ตั้งค่าพฤติกรรมและปุ่มลัดของหน้าต่าง
Comment[tr]=Pencere davranışı ve kısayollarını yapılandır
Comment[ug]=كۆزنەك ھەرىكىتى ۋە تېزلەتمىنى سەپلەش
Comment[uk]=Налаштувати заголовок вікна і запускачів
Comment[ur]=ونڈو کا سلوک اور شارٹ کٹ وضع کریں
Comment[ur_PK]=ونڈو کا سلوک اور شارٹ کٹ وضع کریں
Comment[zh_CN]=配置窗口行为和快捷键
Comment[zh_HK]=調整視窗行為與捷徑
Comment[zh_TW]=調整視窗行為與捷徑
Keywords=windows;management;settings;preferences;themes;styles;decorations;title bar;font;buttons;menu;minimize;maximize;shade;roll up;layout;keyboard shortcuts;focus;snapping;screen;workspaces;edges;corner;hide content;move;resize;moving;resizing;double click;
Keywords[ar]=نوافذ;إدارة;تفضيلات;موضوعات;نمط;.زينة;شريط العنوان;خط;أزرار;قائمة;تصغير;تكبير;ظل;دحرجة لفوق;'طبقة;لوحة مفاتيح;اختصارات;تركيز;أخذ لقطة;شاشة;مساحات عمل;حواف;زوايا;إخفاء;محتوى;حركة;غير الحجم;تحريك; تغيير الحجم;ضِعف;نقر;
Keywords[be]=вокны;кіраванне;налады;тэмы;стылі;аздабленне;загаловак;шрыфт;кнопкі;меню;згарнуць;разгарнуць;цень;згарнуць у загаловак;раскладкі;спалучэнні клавіш;фокус;мацаванне акон;экран;працоўныя прасторы;вуглы;межы;схаваць змесціва;перамясціць;змяніць памер;перамяшчэнне;змена памеру;падвойная пстрычка;
Keywords[be@tarask]=вокны;кіраваньне;налады;перавагі;тэмы;стылі;упрыгожваньні;радок загалоўка;шрыфт;кнопкі;меню;згарнуць;разгарнуць;адцяніць;згарнуць;макет;спалучэньні клявішаў;фокус;прывязка;экран;прасторы;межы;кут;схаваць зьмесьціва; перасунуць;зьмяніць памер;перасоўваньне;зьмяніць памер;двайная пстрычка;
Keywords[bg]=прозорци;управление;настройки;предпочитания;теми;стилове;декорации;заглавие;шрифт;бутони;меню;минимизиране;максимизиране;сянка;превъртане;подредба;клавишни комбинации;фокус;прихващане;екран;работни места;краища;ъгъл;скрито съдържание;премествам;преоразмерявам;преместване;преоразмеряване;двойно кликване;
Keywords[ca]=finestres;gestió;ajusts;preferències;temes;estils;decoració;barra de títol;lletra;botons;menú;minimitzar;maximitzar;ombrejar;desenrotllar;disposició;dreceres de teclat;fòcus;encaixar;pantalla;espais de treball;cantonades;bores;ocultar el contingut;moure;redimensionar;doble clic;
Keywords[cs]=okna;správa;nastavení;předvolby;motivy;styly;dekorace;titulkový pruh;font;písmo;tlačitka;nabídka;minimalizovat;maximalizovat;zarolovat;rozložení;klávesové zkratky;zaměření;přichytávání;obrazovka;pracovní plochy;okraje;rohy;skrýt obsah;přesunout;změnit velikost;přesun;změna velikosti;dvojité kliknutí;
Keywords[da]=vinduer;håndtering;indstillinger;præferencer;temaer;stile;dekorationer;titellinje;skrifttype;knapper;menu;miniminer;maksimer;skygge;rul op;layout;tastaturgenveje;fokus;fastgørelse;skærm;arbejdsområder;kanter;hjørne;skjul indhold;flyt;tilpas størrelse;flytning;tilpasning af størrelse;dobbeltklik;
Keywords[de]=Fenster;Verwaltung;Einstellungen;Präferenzen;Themen;Stile;Dekorationen;Titelleiste;Schriftart;Schaltflächen;Menü;Minimieren;Maximieren;Schattierung;Aufrollen;Layout;Tastenkombination;Fokus;Einrasten;Bildschirm;Arbeitsflächen;Ränder;Ecke;Inhalt ausblenden;Bewegen;Größe ändern;Verschieben;Größe ändern;Doppelklicken;
Keywords[en_CA]=windows;management;settings;preferences;themes;styles;decorations;title bar;font;buttons;menu;minimize;maximize;shade;roll up;layout;keyboard shortcuts;focus;snapping;screen;workspaces;edges;corner;hide content;move;resize;moving;resizing;double click;
Keywords[en_GB]=windows;management;settings;preferences;themes;styles;decorations;title bar;font;buttons;menu;minimize;maximize;shade;roll up;layout;keyboard shortcuts;focus;snapping;screen;workspaces;edges;corner;hide content;move;resize;moving;resizing;double click;
Keywords[es]=ventanas;gestión;ajustes;preferencias;temas;estilos;decoraciones;barra de título;tipografía;botones;menú;minimizar;maximizar;desenrollar;enrollar;distribución;atajos de teclado;enfoque;ajuste;pantalla;áreas de trabajo;bordes;esquina;ocultar contenido;mover;redimensionar;movimiento;cambio de tamaño;doble clic;
Keywords[et]=windows;management;settings;preferences;themes;styles;decorations;title bar;font;buttons;menu;minimize;maximize;shade;roll up;layout;keyboard shortcuts;focus;snapping;screen;workspaces;edges;corner;hide content;move;resize;moving;resizing;double click;aknad;haldus;aknahaldus;seadistused;eelistused;teemad;stiilid;kujundused;tiitliriba;font;nupud;menüü;vähenda;suurenda;rulli kokku;klaviatuur;klaviatuuri paigutus;kiirklahvid;fookus;napsamine;ekraan;tööalad;ääred;nurgad;peida sisu;liiguta;tõsta;muuda suurust;liigutamine;topeltklõps;
Keywords[eu]=leihoen;kudeaketa;ezarpenak;hobespenak;itxurak;estiloak;apainketak;izenburu barra;letra;botoiak;menua;minimizatu;maximizatu;itzala;bildu;diseinua;teklatuaren laster-markak;fokua;snapping;pantaila;idazmahaiak;ertzak;izkina;edukia ezkutatu;mugitu;tamaina aldatu;mugitzen;tamaina mugitzen;klik bikoitza;
Keywords[fa_IR]=windows;management;settings;preferences;themes;styles;decorations;title bar;font;buttons;menu;minimize;maximize;shade;roll up;layout;keyboard shortcuts;focus;snapping;screen;workspaces;edges;corner;hide content;move;resize;moving;resizing;double click;پنجره‌ها;مدیریت;تنظیمات;ترجیحات;پوسته‌ها;سبک‌ها;تزئینات;نوار عنوان;قلم;دکمه‌ها;فهرست;کمینه;بیشینه;سایه;بالا آوردن;چیدمان;میان‌برهای صفحه‌کلید;تمرکز;چسباندن;صفحه;فضاهای کاری; لبه‌ها;گوشه;پنهان کردن محتوا;جابه‌جایی;تغییر اندازه;جابه‌جا کردن;دو بار کلیک;
Keywords[fr]=fenêtres;gestion;paramètres;préférences;thèmes;styles;décorations;barre de titre;police;boutons;menu;minimiser;maximiser;ombre;enrouler;disposition;raccourcis clavier;focus;aimantation;écran;espaces de travail;bords;coin;masquer le contenu;déplacer;redimensionner;déplacement;redimensionnement;double clic;
Keywords[gl]=xanelas;xestión;configuración;preferencias;temas;estilos;decoracións;barra de título; letra;fonte;botóns;menú;minimizar;maximizar;sombra;arrolar;disposición;atallos de teclado;enfoque;recorte;pantalla;espazos de traballo;bordos;esquina;agochar contido;mover;redimensionar;movemento;cambiar de tamaño;facer un clic dobre;
Keywords[he]=windows;management;settings;preferences;themes;styles;decorations;title bar;font;buttons;menu;minimize;maximize;shade;roll up;layout;keyboard shortcuts;focus;snapping;screen;workspaces;edges;corner;hide content;move;resize;moving;resizing;double click;
Keywords[id]=jendela;manajemen;pengaturan;preferensi;tema;gaya;dekorasi;bilah judul;fonta;tombol;menu;minimalkan;maksimalkan;bayang;gulung;tata letak;pintasan papan tik;fokus;lekatkan;layar;area kerja;sisi;sudut;sembunyikan isi;pindah;ubah ukuran;pindahkan;mengubah ukuran;klik ganda;
Keywords[it]=finestre;gestione;impostazioni;preferenze;temi;stili;decorazioni;barra del titolo;carattere;pulsanti;menu;minimizza;massimizza;ombra;arrotola;disposizione;scorciatoie da tastiera;focus;aggancio;schermo;spazi di lavoro;lati;angoli;nascondi contenuto;sposta;ridimensiona;spostamento;ridimensionamento;doppio clic;
Keywords[ja]=ウィンドウ;管理;設定;環境設定;テーマ;スタイル;装飾;タイトルバー;フォント;ボタン;メニュー;最小化;最大化;シェード;ロールアップ;レイアウト;キーボードショートカット;フォーカス;スナップ;画面;ワークスペース;エッジ;コーナー;非表示 コンテンツ;移動;サイズ変更;移動;サイズ変更;ダブルクリック;
Keywords[ka]=windows;management;settings;preferences;themes;styles;decorations;title bar;font;buttons;menu;minimize;maximize;shade;roll up;layout;keyboard shortcuts;focus;snapping;screen;workspaces;edges;corner;hide content;move;resize;moving;resizing;double click;
Keywords[kk]=терезелер;басқару;баптаулар;қалаулар;темалар;стильдер;безендіру;атау жолағы;қаріп;батырмалар;қайыру;жазық қылу;көлеңкелеу;жоғары жинау;жайма;пернетақта жарлықтары;фокус;жабысу;экран;жұмыс орындары;шектер;бұрыш;құраманы жасыру;жылжыту;өлшемді өзгерту;қос шерту;
Keywords[ko]=windows;창;management;관리;settings;설정;preferences;기본설정;themes;테마;styles;모양새;decorations;장식;title bar;제목표시줄;font;폰트;글꼴;buttons;버튼;단추;menu;메뉴;minimize;최소화;maximize;최대화;shade;그림자;roll up;말아올리기;layout;배치;keyboard shortcuts;바가기키;단축키;focus;포커스;snapping;잡기;screen;화면;스크린;workspaces;워크스페이스;작업공간;edges;모서리;corner;구석;hide content;내용 숨기기;move;이동;resize;크기 조정;크기 조절;크기조정;크키조절;moving;이동;옮기기;resizing;크기조절;크기 조절;double click;두번 누름;두번누름;더블클릭;더블 클릭;
Keywords[lt]=langai;langų;langu;valdymas;tvarkymas;nustatymai;nuostatos;temos;apipavidalinimai;stiliai;dekoracijos;antraštės juosta;antrastes juosta;pavadinimo juosta;šriftas;sriftas;raides;mygtukai;meniu;suskleisti;sumažinti;sumazinti;išskleisti;isskleisti;išdidinti;isdidinti;padidinti;pridengti;užraityti;uzraityti;išdėstymas;isdestymas;klaviatūros spartieji klavišai;klaviaturos spartieji klavisai;klaviaturos trumpiniai;fokusavimas;fokusacija;pritraukimas;ekranas;darbo sritys;kraštai;krastai;kampas;kampai;slėpti turinį;slepti turini;perkelti;keisti dydį;keisti dydi;perkėlimas;perkelimas;dvikartis spustelėjimas;dvikartis spustelejimas;dvikartis spragtelėjimas;dvikartis spragetelejimas;dvigubas;
Keywords[ms]=tetingkap;pengurusan;tetapan;keutamaan;tema;gaya;hiasan;palang tajuk;fon;butang;menu;minimum; maksimum;lorek;gulung atas;bentangan;papan kekunci;pintasan;fokus;pelekapan;skrin;ruang kerja;pinggir;bucu;sembunyi;kandungan;alih;saiz semula;mengalih;mensaiz semula;dwi-klik;
Keywords[nb]=vindusbehandler;oppsett;innstillinger;drakter;temaer;stiler;dekorasjoner;tittelfelt;skrifttype;knapper;meny;minimer;maksimer;skyggelegg;rull opp;utforming;hurtigtaster;fokus;fest;skjerm;arbeidsområde;kanter;hjørner;skjul innhold;flytt;endre størrelse;dobbeltklikk;
Keywords[nl]=vensters;beheer;instellingen;voorkeuren;thema's;stijlen;decoraties;titelbalk;lettertype;knoppen;menu;minimaliseren;maximaliseren;ontrollen;oprollen;vormgeving;sneltoetsen;scherpstelling;scherm;werkbladen;randen;hoek;inhoud verbergen;verplaatsen;herschalen;dubbelklik;
Keywords[oc]=windows;management;settings;preferences;themes;styles;decorations;title bar;font;buttons;menu;minimize;maximize;shade;roll up;layout;keyboard shortcuts;focus;snapping;screen;workspaces;edges;corner;hide content;move;resize;moving;resizing;double click;fenèstra;gestion;paramètres;reglatges;preferéncias;tèmas;estil;titol;barra;poliça;boton;menú;clavièr;ecran;amagar;rescondre;esconder;acorchis;conh;cunh;
Keywords[pl]=okna;zarządzanie;ustawienia;preferencje;motywy;style;dekoracje;pasek tytułu;czcionka;przyciski;menu;minimalizacja;maksymalizacja;cień;zwijanie;układ;skróty klawiaturowe;fokus;przyciąganie;ekran;obszary robocze;krawędzie;narożnik;ukryj zawartość;przenieś;zmień rozmiar;przenoszenie;zmiana rozmiaru;podwójne kliknięcie;
Keywords[pt]=janelas;gestão;definições;preferências;temas;estilos;decorações;barra de título;fonte;botões;menu;minimizar;maximizar;sombrear;enrolar;esquema;atalhos de teclado;foco;snapping;ecrã;áreas de trabalho;limites;canto;ocultar conteúdo;mover;redimensionar;movendo;redimensionando;duplo clique;
Keywords[pt_BR]=janelas;gestão;definições;preferências;temas;estilos;decorações;barra de título;fonte;botões; menu;minimizar;maximizar;tonalidade;roll up;layout;atalhos de teclado;foco;snapping;tela;espaços de trabalho;bordas;canto;ocultar conteúdo;mover;redimensionar;mover;redimensionar;clique duplo;
Keywords[ru]=окна;управление;настройки;темы;стили;обрамление;заголовок;шрифт;кнопки;меню;спрятать;развернуть;тень;свернуть;раскладка;клавиатурные сочетания;фокус;прилипание;экран;рабочие места;края;угол;спрятать содержимое;переместить;изменить размер;перемещение:изменение размера;двойной щелчок;
Keywords[sl]=okna;upravljanje;nastavitve;možnosti;lastnosti;teme;sitili;okraski;naslovna vrstica;pisava;gumbi;meni;zmanjšaj;pomanjšaj;povečaj;senca;postavitev;bližnjice;fokus;skok;zaslon;delovne površine;robovi;koti;skrij vsebino;premakni;spremeni velikost;premikanje;dvojni klik;windows;management;settings;preferences;themes;styles;decorations;title bar;font;buttons;menu;minimize;maximize;shade;roll up;layout;keyboard shortcuts;focus;snapping;screen;workspaces;edges;corner;hide content;move;resize;moving;resizing;double click;
Keywords[sq]=dritare;administrim;rregullime;parapëlqime;tema;stile;zbukurime;shtyllë titujsh;shkronja;butona;menu;minimizoje;maksimizoje;hije;roll up;skemë;tastierë shkurtore;fokus;snapping;skenë;hapësira pune;skaje;cep;fshih lëndë;lëvize;ripërmasoje;lëvizje;ripërmasim;dyklkim;
Keywords[sr]=прозори;управљање;поставке;подешавања;теме;изглед;украси;наслов;словолик;дугмад;изборник;умањи;увећај;смотај;распоред;тастатура;пречице;жижа;шкљоцање;приказ;екран;радни простри;ивице;угао;кутак;сакриј садржај;помери;премести;промени величину;двоклик;
Keywords[sv]=fönster;hantering;inställningar;alternativ;teman;stilar;dekorationer;titelraden;teckensnitt;knappar;meny;minimera;maximera;skugga; rulla upp; layout;tangentbordsgenvägar;fokus;knäppning;arbetsytor;kanter;hörn;dölj innehåll;flytta;byt storlek;flytta;förstora;dubbel klick;
Keywords[th]=หน้าต่าง;จัดการ;ตั้งค่า;ปรับแต่ง;ชุดตกแต่ง;รูปแบบ;กรอบหน้าต่าง;หัวหน้าต่าง;แบบอักษร;ปุ่ม;เมนู;ย่อเก็บ;ขยายแผ่;ม้วนเก็บ;ม้วนขึ้น;การจัดวาง;ปุ่มลัด;โฟกัส;การดูดติด;หน้าจอ;พื้นที่ทำงาน;ขอบ;มุม;ซ่อนเนื้อหา;ย้าย;ปรับขนาด;ดับเบิลคลิก;
Keywords[tr]=pencereler;yönetim;ayarlar;tercihler;yeğlemeler;gövdeler;temalar;stiller;süslemeler;dekorasyonlar;başlık çubuğu;yazı tipi;düğmeler;menü;küçült;büyült;büyüt;gölge;yukarı kaydır;düzen;klavye;kısayollar;odak;kapma;çarpma;ekran;çalışma alanları;köşeler;kenarlar;uçlar;köşe;gizle;içerik;taşı;yeniden boyutlandır;taşıma;yeniden boyutlandırma;çift tıklama;
Keywords[uk]=вікна;керування;налаштування;конфігурування;теми;стилі;оформлення;заголовок;шрифт;кнопки;меню;згорнути;розгорнути;приховати;згорнути вгору;розташування;скорочені комбінації;фокус;захват;екран;робочий простір;границі;кут вікна;приховати зміст;перемістити;змінити розмір;рух;зміна розміру;подвійний клік;
Keywords[zh_CN]=windows;management;settings;preferences;themes;styles;decorations;title bar;font;buttons;menu;minimize;maximize;shade;roll up;layout;keyboard shortcuts;focus;snapping;screen;workspaces;edges;corner;hide content;move;resize;moving;resizing;double click;窗口;管理;设置;首选项;主题;样式;装饰;标题栏;字体;按钮;菜单;最小化;最大化;阴影;卷起;布局;键盘快捷键;焦点;捕捉;屏幕;工作区;边缘;角;隐藏内容;移动;调整大小;移动;调整;双击;
Exec=xfwm4-settings
Icon=org.xfce.xfwm4
Terminal=false
Type=Application
Categories=XFCE;GTK;Settings;DesktopSettings;X-XFCE-SettingsDialog;X-XFCE-PersonalSettings;
StartupNotify=true
OnlyShowIn=XFCE;
X-XfcePluggable=true
X-XfceHelpComponent=xfwm4
X-XfceHelpPage=preferences
