/**
 * App Window
 */
@define-color bg_color #1E1E2E;
@define-color window_bg @bg_color;
@define-color window_border_color #C9CBFF;
@define-color prefs_backgroud #C9CBFF;

/**
 * Input
 */
@define-color selected_bg_color #302D41;
@define-color selected_fg_color #D9E0EE;
@define-color input_color #D9E0EE;
@define-color caret_color darker(@input_color);

/**
 * Result items
 */
@define-color item_name #C9CBFF;
@define-color item_text #C9CBFF;
@define-color item_box_selected #302D41;
@define-color item_text_selected #C9CBFF;
@define-color item_name_selected #C9CBFF;
@define-color item_shortcut_color #D9E0EE;
@define-color item_shortcut_shadow darker(@bg_color);
@define-color item_shortcut_color_sel #ccc;
@define-color item_shortcut_shadow_sel darker(@item_box_selected);

.app {
    background-color: @window_bg;
    border-radius: 14px;
    border-color: @window_border_color;
}

.input {
    color: @input_color;
}

/**
 * Selected text in input
 */
.input *:selected,
.input *:focus,
*:selected:focus {
    background-color: alpha (@selected_bg_color, 0.9);
    color: @selected_fg_color;
}

.item-text {
    color: @item_text;
}
.item-name {
    color: @item_name;
}
.item-box {
    border-radius: 12px;
}


.selected.item-box {
    background-color: @item_box_selected;
    border-left: 1px solid @window_border_color;
    border-right: 1px solid @window_border_color;
}
.selected.item-box .item-text {
    color: @item_text_selected;
}
.selected.item-box .item-name {
    color: @item_name_selected;
}
.item-shortcut {
    color: @item_shortcut_color;
    text-shadow: 1px 1px 1px @item_shortcut_shadow;
}
.selected.item-box .item-shortcut {
    color: @item_shortcut_color_sel;
    text-shadow: 1px 1px 1px @item_shortcut_shadow_sel;
}

.result-box {
    margin: 0px 10px 0px 10px;
}

.prefs-btn {
    opacity: 0.6;
}
.prefs-btn:hover {
    background-color: @prefs_backgroud;
}

.no-window-shadow {
    margin: -20px;
}
