[SddmGreeterTheme]
Name=Sugar Candy
Description=Premium Sugar for SDDM
Author=Marian Arlt
Copyright=Copyright (C) 2018 Marian Arlt
License=GPL-3.0-or-later
Type=sddm-theme
Version=1.5
Website=https://framagit.org/MarianArlt/sddm-sugar-candy
Screenshot=Previews/PartialBlur.png
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Email=marianarlt@icloud.com
Theme-Id=sugar-candy
Theme-API=2.11
